/*body part is used for image in that body*/
body{
    background-attachment:scroll;/*Makes it so that it can't be scrolled */
     /*Makes it so that it covers the whole width of page's visible portion*/
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
  }
  /* This part is being used for better margin gap and font size of all elements of the page.*/
* {
    font-size: 30px;
  }
  img{
    max-width: 100%;
    height: auto;
  }
  header>a{
    font-size: small;
  }
  .text_bg{
    background-image: linear-gradient(30deg,#fbfbfb, #9fa5f6);
    background-size: 100%;
    background-attachment: scroll;
    background-clip: text;
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}
.link_bg{
  background-size: 100%;
  background-attachment: scroll;
  background-clip: text;
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
.text_bg2{
  background-image: linear-gradient(210deg,#678bc0,#1163c3, #74073d,  #ad4d6a);
  background-size: 100%;
  background-attachment: scroll;
  background-clip: text;
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
.titles{
  padding-top: 70px;
}
  .tab {
    display: block;
    margin-left: 100px;
    }
  .custombullet >ul{
    list-style: none;
  }
 .custombullet >ul li::before {
        /*content: url("path/to/icon");*/
        content: '◉';
        border-radius: 100%;
        width: 1em;
        height: 1em;
        display: inline-block;
        padding: 0.25em;
        line-height: 1.0;
        margin-right: 0.5em;
  }
  /*This part is here to add margin spaces at each section change for page to look bigger than what it actually is in the normal size.*/
#first_back{
    background-attachment: fixed;
  }
#First_part>p {
    /* Center horizontally*/
    position: relative;
    top: 50%;
    /* font-size: 100px; */
    /* margin: -25px 0 0 -25px; */
}
  /*Changing css colors for links:Link and Visited*/ 
a:visited {
    text-decoration-line: overline;
    background-color: rgba(216, 26, 26, 0.525);
    color: white;
    text-decoration: none;
    display: inline-flex;
}
/*Changing css colors for Links:hover and active*/
a:hover, a:active {
  font-weight: bolder;
  filter: brightness(110%) saturate(110%);
  -webkit-filter: brightness(110%) saturate(110%);
}
/* .navblur{
  z-index: 0;
  filter: blur(8px);
  -webkit-filter: blur(8px);
} */
#ima{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}
#prof{
  padding: 0.5%;
  border-radius: 100%;
  /* border-image: linear-gradient(45deg, red 0%,black 100%); */
  /* transition: transform 0.6s cubic-bezier(0.076, 0, 0.24, 1); */
}
/* .container>img:hover {
  transform: scale(1.1) rotate(1deg);
  transform-origin: center center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25), 0 0 48px rgba(0, 0, 0, 0.35);
} */
#s2>ul{
  list-style-type: none;
}

#linking>a:visited{
  color: rgba(35, 35, 35, 0.6);
}
#linking>a:active, #linking>a:hover{
  color:black;
}
#last_line{
  text-align: center; 
  background-image: linear-gradient(45deg, #173654, black);
}